@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif ;
    background: linear-gradient(45deg, #336666, #6b9997);
}

.wrapper{
    margin: 150px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.add-box{
    cursor: pointer;
}
.add-box, .note{
    background: white;
    border-radius: 5px;
    padding: 10px 15px;
    height: 250px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.add-box, .add-box span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-box span{
    width: 90px;
    height: 90px;
    border: 3px dashed #34344e;  
    color: #34344e;
    font-size: 35px;  
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.add-box p{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 600;
    color: #007ACC;
}

.note{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 15px 20px 20px;
}
.note-header p{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}
.note-details{
    color: grey;
    height: 110px;
    overflow-y: auto;
}
.note-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ccc;
    padding-top: 15px;
    margin-top: 10px;
    position: relative;
}
.note-bottom i{
    color: #007ACC;
    cursor: pointer;
}
.note-bottom .menu{
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 150px;
    background: white;
}
.note-bottom .menu span{
    display: block;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 600;
}
.note-bottom .menu span:hover{
    background: #ccc;
}
.note-bottom .menu span i{
    margin-right: 15px;
}