@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif ;
    background: linear-gradient(45deg, #336666, #6b9997);
}


.pop-box{
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.pop-box .popup{
    background: white;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;
    z-index: 3;
    border-radius: 5px;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.popup-header p{
    font-size: 25px;
    font-weight: 600;
}
.form-title, .form-description{
    display: flex;
    flex-direction: column;
}
.form-title label, .form-description label{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
}
.form-title input, .form-description textarea{
    outline: none;
    height: 50px;
    border: 3px solid #ccc;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 10px;
}
.form-title input:focus, .form-description textarea:focus{
    border: 3px solid #355c7d;
}
.form-description textarea{
    height: 150px;
    resize: none;
    padding: 15px 10px;
}
.form-description label{
    margin-bottom: 15px;
    margin-top: 25px;
    font-weight: 600;
    font-size: 18px;
}
.popup-details button{
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    background: #355c7d;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}



.wrapper{
    margin: 150px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.add-box{
    cursor: pointer;
}
.add-box, .note{
    background: white;
    border-radius: 5px;
    padding: 10px 15px;
    height: 250px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.add-box, .add-box span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-box span{
    width: 90px;
    height: 90px;
    border: 3px dashed #34344e;  
    color: #34344e;
    font-size: 35px;  
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.add-box p{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 600;
    color: #007ACC;
}

.note{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 15px 20px 20px;
}
.note-header p{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}
.note-details{
    color: grey;
    height: 110px;
    overflow-y: auto;
}
.note-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ccc;
    padding-top: 15px;
    margin-top: 10px;
    position: relative;
}
.note-bottom i{
    color: #007ACC;
    cursor: pointer;
}
.note-bottom .menu{
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 150px;
    background: white;
    transform: scale(0);
    transition: all 0.3s;
    transform-origin: bottom right;
}
#elipsis:hover .menu{
    transform: scale(1);
}
.note-bottom .menu span{
    display: block;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 600;
}

.note-bottom .menu span:hover{
    background: #ccc;
}
.note-bottom .menu span i{
    margin-right: 15px;
}